# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.SecondApplication.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\user\RiderProjects\SecondApplication\.idea\.idea.SecondApplication\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
